openapi: 3.0.3
info:
  title: Multi-Cloud Gateway API
  description: |-
    The Multi-Cloud Gateway (MCGW) API provides a virtual routing service that allows customers to easily interconnect their cloud environments and on-premises infrastructure using private connectivity.

    This API enables programmatic management of:
    - **Gateway Instances:** Virtual routing instances that form the core of the service.
    - **Interfaces:** Virtual Layer 3 interfaces for attaching network connections.
    - **Routing:** Configuration of BGP sessions and static routes.
    - **Telemetry:** Retrieval of performance and utilization metrics.

    Built with an API-first approach, all functionalities available in the user interface are exposed through this specification, empowering customers to integrate MCGW into their automated workflows and tech stacks.
  version: '1.0'
servers:
  - url: https://api.lumen.com/mcgw/v1
    description: Production Environment
tags:
  - name: Gateways
    description: Manage Multi-Cloud Gateway (MCGW) instances.
  - name: Interfaces
    description: Manage interfaces on a Multi-Cloud Gateway instance.
  - name: BGP Sessions
    description: Manage BGP peering sessions on a gateway interface.
  - name: Static Routes
    description: Manage static routes on a gateway.
  - name: Routes
    description: View and query the routing table for a gateway.
  - name: Telemetry
    description: Retrieve performance and utilization metrics for gateway interfaces.
  - name: Operations
    description: Manage and monitor the status of long-running asynchronous operations.
paths:
  /gateways:
    get:
      summary: List Gateways
      description: Retrieves a paginated list of all Multi-Cloud Gateway instances for the customer.
      tags:
        - Gateways
      operationId: listGateways
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of gateways.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gateway'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create Gateway
      description: Initiates the creation of a new Multi-Cloud Gateway instance. This is an asynchronous long-running operation.
      tags:
        - Gateways
      operationId: createGateway
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: The configuration for the new gateway.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayCreate'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}:
    get:
      summary: Get Gateway
      description: Retrieves the details of a specific Multi-Cloud Gateway instance by its ID.
      tags:
        - Gateways
      operationId: getGateway
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The requested gateway resource.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update Gateway
      description: Partially updates the configuration of a specific Multi-Cloud Gateway instance.
      tags:
        - Gateways
      operationId: patchGateway
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        description: The fields to update on the gateway.
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/GatewayUpdate'
      responses:
        '200':
          description: The gateway was updated successfully.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Gateway
      description: Initiates the deletion of a specific Multi-Cloud Gateway instance. This is an asynchronous long-running operation.
      tags:
        - Gateways
      operationId: deleteGateway
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/interfaces:
    get:
      summary: List Interfaces
      description: Retrieves a paginated list of all interfaces for a specific gateway.
      tags:
        - Interfaces
      operationId: listInterfaces
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of interfaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Interface'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create Interface
      description: Initiates the creation of a new interface on a gateway. This is an asynchronous long-running operation.
      tags:
        - Interfaces
      operationId: createInterface
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: The configuration for the new interface.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterfaceCreate'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/interfaces/{interface_id}:
    get:
      summary: Get Interface
      description: Retrieves the details of a specific interface on a gateway.
      tags:
        - Interfaces
      operationId: getInterface
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The requested interface resource.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update Interface
      description: Partially updates the configuration of a specific interface on a gateway.
      tags:
        - Interfaces
      operationId: patchInterface
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        description: The fields to update on the interface.
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InterfaceUpdate'
      responses:
        '200':
          description: The interface was updated successfully.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Interface
      description: Initiates the deletion of a specific interface from a gateway. This is an asynchronous long-running operation.
      tags:
        - Interfaces
      operationId: deleteInterface
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/interfaces/{interface_id}/telemetry:
    get:
      summary: Get Interface Telemetry
      description: Retrieves telemetry data for a specific interface over a given time period.
      tags:
        - Telemetry
      operationId: getInterfaceTelemetry
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - name: start_at
          in: query
          description: The start of the time range for the query.
          schema:
            type: string
            format: date-time
        - name: end_at
          in: query
          description: The end of the time range for the query.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Telemetry data for the interface.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterfaceTelemetry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/routes:
    get:
      summary: Get Route Table
      description: Retrieves the global routing table for a specific gateway, with options to filter.
      tags:
        - Routes
      operationId: getRouteTable
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - name: address_family
          in: query
          description: Filter routes by address family.
          schema:
            type: string
            enum: [ipv4, ipv6]
        - name: route_type
          in: query
          description: Filter routes by their source type.
          schema:
            type: string
            enum: [bgp, static, connected]
        - name: interface_id
          in: query
          description: Filter routes learned from a specific interface.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of routes from the gateway's route table.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Route'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/bgp-sessions:
    get:
      summary: List BGP Sessions
      description: Retrieves a paginated list of all BGP sessions for a specific gateway.
      tags:
        - BGP Sessions
      operationId: listBgpSessions
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - name: interface_id
          in: query
          description: Filter BGP sessions by interface ID.
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of BGP sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BgpSession'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create BGP Session
      description: Initiates the creation of a new BGP session on a gateway interface. This is an asynchronous long-running operation.
      tags:
        - BGP Sessions
      operationId: createBgpSession
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: The configuration for the new BGP session.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgpSessionCreate'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/bgp-sessions/{session_id}:
    get:
      summary: Get BGP Session
      description: Retrieves the details of a specific BGP session.
      tags:
        - BGP Sessions
      operationId: getBgpSession
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/BgpSessionId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The requested BGP session resource.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update BGP Session
      description: Partially updates the configuration of a specific BGP session.
      tags:
        - BGP Sessions
      operationId: patchBgpSession
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/BgpSessionId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        description: The fields to update on the BGP session.
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/BgpSessionUpdate'
      responses:
        '200':
          description: The BGP session was updated successfully.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete BGP Session
      description: Initiates the deletion of a specific BGP session. This is an asynchronous long-running operation.
      tags:
        - BGP Sessions
      operationId: deleteBgpSession
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/BgpSessionId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/static-routes:
    get:
      summary: List Static Routes
      description: Retrieves a paginated list of all static routes for a specific gateway.
      tags:
        - Static Routes
      operationId: listStaticRoutes
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - name: address_family
          in: query
          description: Filter routes by address family.
          schema:
            type: string
            enum: [ipv4, ipv6]
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of static routes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StaticRoute'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create Static Routes
      description: Creates one or more static routes on a gateway. This is a batch operation.
      tags:
        - Static Routes
      operationId: createStaticRoutes
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: A list of static routes to create.
        content:
          application/json:
            schema:
              type: object
              properties:
                routes:
                  type: array
                  items:
                    $ref: '#/components/schemas/StaticRouteCreate'
      responses:
        '207':
          description: The batch operation completed with mixed results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMultiStatusResponseCompact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/static-routes:batchDelete:
    post:
      summary: Delete Static Routes
      description: Deletes one or more static routes from a gateway in a single batch operation.
      tags:
        - Static Routes
      operationId: deleteStaticRoutes
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: A list of static route IDs to delete.
        content:
          application/json:
            schema:
              type: object
              properties:
                route_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '207':
          description: The batch deletion completed with mixed results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMultiStatusResponseCompact'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /operations/{operation_id}:
    get:
      summary: Get Operation Status
      description: Retrieves the status of a long-running asynchronous operation.
      tags:
        - Operations
      operationId: getOperation
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The current status of the operation.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ResourceId:
      type: string
      format: uuid
      description: Opaque, globally unique identifier for a resource. Generated by the API provider.
      example: 279fc665-d04d-4dba-bcad-17c865489dfa
    ResourceMetadata:
      type: object
      required:
        - id
        - created_at
        - last_updated_at
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: The UTC timestamp when the resource was created.
        last_updated_at:
          type: string
          format: date-time
          readOnly: true
          description: The UTC timestamp when the resource was last modified.
    Gateway:
      description: A Multi-Cloud Gateway instance.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - type: object
          properties:
            name:
              type: string
              description: A user-defined friendly name for the gateway.
              example: 'prod-cloud-router'
            description:
              type: string
              description: A user-defined description for the gateway.
              example: 'Primary gateway for routing between AWS and Azure'
            tier:
              type: string
              description: The provisioned throughput tier of the instance.
              enum: [10G, 50G, Unlimited]
              example: '10G'
            asn:
              type: integer
              description: The Autonomous System Number used for the gateway.
              example: 1
            total_aggregate_bandwidth_mbps:
              type: integer
              readOnly: true
              description: The current total aggregate bandwidth of all attached connections, in Mbps.
              example: 4000
            state:
              type: string
              readOnly: true
              description: The current provisioning state of the gateway.
              enum: [Active, Provisioning, Updating, Deleting, Failed]
              example: Active
    GatewayCreate:
      type: object
      required:
        - tier
      properties:
        name:
          type: string
          description: A user-defined friendly name for the gateway. If not provided, it defaults to the gateway ID.
          example: 'prod-cloud-router'
        description:
          type: string
          description: A user-defined description for the gateway.
          example: 'Primary gateway for routing between AWS and Azure'
        tier:
          type: string
          description: The throughput tier to provision for the instance.
          enum: [10G, 50G, Unlimited]
          example: '10G'
        asn:
          type: integer
          description: The Autonomous System Number to use for the gateway.
          default: 1
          enum: [1, 3549]
          example: 1
    GatewayUpdate:
      type: object
      properties:
        name:
          type: string
          description: A new friendly name for the gateway.
          example: 'prod-cloud-router-renamed'
        description:
          type: string
          description: A new description for the gateway.
          example: 'Updated description for primary gateway'
        tier:
          type: string
          description: The new throughput tier for the instance.
          enum: [10G, 50G, Unlimited]
          example: '50G'
    Interface:
      description: A virtual interface on a Multi-Cloud Gateway instance.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - type: object
          properties:
            name:
              type: string
              description: A user-defined friendly name for the interface.
              example: 'aws-direct-connect-interface'
            description:
              type: string
              description: A user-defined description for the interface.
              example: 'Interface for AWS Direct Connect to us-east-1'
            admin_state:
              type: string
              description: The administrative state of the interface.
              enum: [enabled, disabled]
              example: enabled
            operational_state:
              type: string
              readOnly: true
              description: The operational state of the interface, indicating Layer 2 and Layer 3 status.
              enum: [Up/Up, Up/Down, Down/Down, Admin Down]
              example: Up/Up
            bandwidth_mbps:
              type: integer
              description: The bandwidth of the interface in Mbps. Inherited from the attached Fabric Connection.
              example: 1000
            ipv4_address:
              $ref: '#/components/schemas/IpAddress'
            ipv6_address:
              $ref: '#/components/schemas/IpAddress'
    InterfaceCreate:
      type: object
      properties:
        name:
          type: string
          description: A user-defined friendly name for the interface.
          example: 'aws-direct-connect-interface'
        description:
          type: string
          description: A user-defined description for the interface.
          example: 'Interface for AWS Direct Connect to us-east-1'
        admin_state:
          type: string
          description: The administrative state of the interface.
          enum: [enabled, disabled]
          default: disabled
        ipv4_address:
          $ref: '#/components/schemas/IpAddress'
        ipv6_address:
          $ref: '#/components/schemas/IpAddress'
    InterfaceUpdate:
      type: object
      properties:
        name:
          type: string
          description: A new friendly name for the interface.
          example: 'aws-dx-interface-primary'
        description:
          type: string
          description: A new description for the interface.
          example: 'Primary interface for AWS Direct Connect to us-east-1'
        admin_state:
          type: string
          description: The new administrative state for the interface.
          enum: [enabled, disabled]
        bandwidth_mbps:
          type: integer
          description: The new bandwidth for the interface in Mbps.
          example: 2000
        ipv4_address:
          $ref: '#/components/schemas/IpAddress'
        ipv6_address:
          $ref: '#/components/schemas/IpAddress'
    IpAddress:
      type: object
      required:
        - address
        - prefix_length
      properties:
        address:
          type: string
          description: The IP address.
          example: '192.168.1.1'
        prefix_length:
          type: integer
          description: The prefix length (subnet mask) for the IP address.
          example: 24
    BgpSession:
      description: A BGP peering session on a gateway interface.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - type: object
          properties:
            name:
              type: string
              description: A user-defined friendly name for the BGP session.
              example: 'peering-to-aws'
            interface_id:
              $ref: '#/components/schemas/ResourceId'
            address_family:
              type: string
              enum: [ipv4, ipv6]
              example: ipv4
            remote_peer_ip:
              type: string
              description: The IP address of the remote BGP peer.
              example: '169.254.100.2'
            remote_asn:
              type: integer
              description: The ASN of the remote BGP peer.
              example: 65001
            local_asn:
              type: integer
              description: The local ASN used for this peering session.
              example: 1
            md5_authentication_enabled:
              type: boolean
              default: false
            bfd_enabled:
              type: boolean
              default: false
            state:
              type: string
              readOnly: true
              description: The current state of the BGP session.
              example: 'Established'
    BgpSessionCreate:
      type: object
      required:
        - interface_id
        - remote_peer_ip
        - remote_asn
      properties:
        name:
          type: string
          description: A user-defined friendly name for the BGP session.
          example: 'peering-to-aws'
        interface_id:
          $ref: '#/components/schemas/ResourceId'
        address_family:
          type: string
          enum: [ipv4, ipv6]
          default: ipv4
        remote_peer_ip:
          type: string
          description: The IP address of the remote BGP peer.
          example: '169.254.100.2'
        remote_asn:
          type: integer
          description: The ASN of the remote BGP peer.
          example: 65001
        local_asn:
          type: integer
          description: The local ASN to use for this peering session. If not provided, the gateway's ASN is used.
          example: 1
        md5_authentication:
          type: object
          properties:
            enabled:
              type: boolean
              default: false
            key:
              type: string
              description: The MD5 authentication key. Write-only.
        bfd:
          type: object
          properties:
            enabled:
              type: boolean
              default: false
            interval:
              type: integer
              enum: [500, 1000, 1500, 2000]
              default: 500
            multiplier:
              type: integer
              minimum: 5
              maximum: 10
              default: 5
    BgpSessionUpdate:
      type: object
      properties:
        name:
          type: string
          description: A new friendly name for the BGP session.
        md5_authentication:
          type: object
          properties:
            enabled:
              type: boolean
            key:
              type: string
              description: The MD5 authentication key. Write-only.
        bfd:
          type: object
          properties:
            enabled:
              type: boolean
            interval:
              type: integer
              enum: [500, 1000, 1500, 2000]
            multiplier:
              type: integer
              minimum: 5
              maximum: 10
    StaticRoute:
      description: A static route configured on a gateway.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - type: object
          properties:
            address_family:
              type: string
              enum: [ipv4, ipv6]
              example: ipv4
            destination_prefix:
              type: string
              description: The destination network prefix for the static route.
              example: '10.0.0.0/8'
            next_hop_ip:
              type: string
              description: The IP address of the next hop for this route.
              example: '192.168.1.254'
    StaticRouteCreate:
      type: object
      required:
        - address_family
        - destination_prefix
        - next_hop_ip
      properties:
        address_family:
          type: string
          enum: [ipv4, ipv6]
        destination_prefix:
          type: string
          description: The destination network prefix for the static route.
          example: '10.0.0.0/8'
        next_hop_ip:
          type: string
          description: The IP address of the next hop for this route.
          example: '192.168.1.254'
    Route:
      description: A route entry from the gateway's global routing table.
      type: object
      properties:
        destination_prefix:
          type: string
          description: The destination network prefix.
          example: '192.168.10.0/24'
        next_hop_ip:
          type: string
          description: The IP address of the next hop. Internal IPs are not displayed.
          example: '203.0.113.1'
        interface_name:
          type: string
          description: The name of the MCGW interface through which this route was learned or is routed.
          example: 'Customer-Intf-1'
        route_type:
          type: string
          description: The source of the route.
          enum: [bgp, static, connected]
          example: bgp
        as_path:
          type: string
          description: The BGP AS path for the route.
          example: '65001 65002'
        med:
          type: integer
          description: The BGP Multi-Exit Discriminator value.
          example: 100
        local_preference:
          type: integer
          description: The BGP local preference value.
          example: 200
        last_updated_at:
          type: string
          format: date-time
          description: The UTC timestamp when the route was last learned or changed.
    InterfaceTelemetry:
      description: Telemetry data for a gateway interface.
      type: object
      properties:
        last_interval_at:
          type: string
          format: date-time
          description: The timestamp of the most recent data interval.
        current:
          type: object
          properties:
            rx_utilization_percent:
              type: number
              format: float
            tx_utilization_percent:
              type: number
              format: float
            rx_bps:
              type: integer
              format: int64
            tx_bps:
              type: integer
              format: int64
            rx_pps:
              type: integer
              format: int64
            tx_pps:
              type: integer
              format: int64
        time_period_summary:
          type: object
          properties:
            min_rx_bps:
              type: integer
              format: int64
            max_rx_bps:
              type: integer
              format: int64
            min_tx_bps:
              type: integer
              format: int64
            max_tx_bps:
              type: integer
              format: int64
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items available.
        limit:
          type: integer
          description: The number of items returned in the current page.
        offset:
          type: integer
          description: The starting position of the current page.
    Operation:
      $ref: './reusable/schemas/Operation.yaml'
    LpdpProblem:
      $ref: './reusable/schemas/LpdpProblem.yaml'
    LpdpError:
      $ref: './reusable/schemas/LpdpError.yaml'
    BatchMultiStatusResponseCompact:
      $ref: './reusable/schemas/BatchMultiStatusResponseCompact.yaml'
  parameters:
    GatewayId:
      name: gateway_id
      in: path
      required: true
      description: The unique identifier for the gateway.
      schema:
        $ref: '#/components/schemas/ResourceId'
    InterfaceId:
      name: interface_id
      in: path
      required: true
      description: The unique identifier for the interface.
      schema:
        $ref: '#/components/schemas/ResourceId'
    BgpSessionId:
      name: session_id
      in: path
      required: true
      description: The unique identifier for the BGP session.
      schema:
        $ref: '#/components/schemas/ResourceId'
    OperationId:
      name: operation_id
      in: path
      required: true
      description: The unique identifier for the asynchronous operation.
      schema:
        $ref: '#/components/schemas/ResourceId'
    LimitParam:
      name: limit
      in: query
      description: The maximum number of items to return.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    OffsetParam:
      name: offset
      in: query
      description: The number of items to skip before starting to collect the result set.
      schema:
        type: integer
        default: 0
        minimum: 0
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: A unique key to prevent duplicate processing of the request.
      schema:
        type: string
        format: uuid
    IfMatch:
      name: If-Match
      in: header
      required: true
      description: The ETag of the resource to ensure optimistic concurrency control.
      schema:
        type: string
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: The ETag of a cached resource for conditional GET requests.
      schema:
        type: string
  headers:
    ETag:
      description: The ETag for the current version of the resource.
      schema:
        type: string
    Location:
      description: The URL of the newly created or operation resource.
      schema:
        type: string
        format: uri
    RetryAfter:
      description: The number of seconds to wait before retrying the request.
      schema:
        type: integer
  responses:
    Accepted:
      description: The request has been accepted for processing. The client should poll the URL in the `Location` header to check the status of the operation.
      headers:
        Location:
          $ref: '#/components/headers/Location'
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Operation'
    NoContent:
      description: The request was successful, and there is no content to return.
    NotModified:
      description: The resource has not been modified since the version specified in the `If-None-Match` header.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    Forbidden:
      description: The authenticated user does not have permission to perform this action.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    NotFound:
      description: The requested resource could not be found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    Conflict:
      description: The request could not be completed due to a conflict with the current state of the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    PreconditionFailed:
      description: The `If-Match` header does not match the current ETag of the resource, indicating a concurrency conflict.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    TooManyRequests:
      description: The client has sent too many requests in a given amount of time.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
    InternalServerError:
      description: An unexpected error occurred on the server.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/LpdpProblem'
  securitySchemes:
    oAuth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the client credentials grant flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.lumen.com/oauth/token
          scopes:
            mcgw:read: 'Read access to MCGW resources'
            mcgw:write: 'Write access to MCGW resources'
security:
  - oAuth2: [mcgw:read, mcgw:write]