openapi: 3.0.3
info:
  title: Multi-Cloud Gateway API
  description: |-
    The Multi-Cloud Gateway (MCGW) API provides a virtual routing service that allows customers to programmatically create, manage, and interconnect their cloud environments using private connectivity. This API enables the automation of multi-cloud networking, including the management of gateway instances, interfaces, and routing configurations.
  version: 1.0.0
servers:
  - url: https://api.lumen.com/mcgw/v1
    description: Production Server
tags:
  - name: Gateways
    description: Manage Multi-Cloud Gateway instances.
  - name: Interfaces
    description: Manage interfaces within a Multi-Cloud Gateway instance.
  - name: Routes
    description: View routing information for a Multi-Cloud Gateway instance.
  - name: Operations
    description: Track the status of long-running asynchronous operations.
paths:
  /gateways:
    get:
      summary: List all gateways
      description: Retrieves a paginated list of all Multi-Cloud Gateway instances accessible to the user.
      tags:
        - Gateways
      operationId: listGateways
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
      responses:
        '200':
          description: A paginated list of gateways.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gateway'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a gateway
      description: Initiates the creation of a new Multi-Cloud Gateway instance. This is an asynchronous operation.
      tags:
        - Gateways
      operationId: createGateway
      x-data-classification: Confidential
      x-operation-type: lro
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: The configuration for the new gateway instance.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayCreate'
      responses:
        '202':
          description: The gateway creation request has been accepted for processing. The status of the operation can be tracked via the URL in the Location header.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}:
    get:
      summary: Get a gateway by ID
      description: Retrieves the details of a specific Multi-Cloud Gateway instance by its unique identifier.
      tags:
        - Gateways
      operationId: getGateway
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The detailed representation of the gateway.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a gateway
      description: Partially updates a gateway's properties, such as its name, description, or tier. This may be a long-running operation if the tier is changed.
      tags:
        - Gateways
      operationId: updateGateway
      x-data-classification: Confidential
      x-operation-type: lro
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        description: The fields to update on the gateway.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/GatewayUpdate'
      responses:
        '200':
          description: The gateway was updated successfully and synchronously (e.g., name change).
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '202':
          description: The gateway update request has been accepted for asynchronous processing (e.g., tier change).
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a gateway
      description: Initiates the deletion of a Multi-Cloud Gateway instance. This is a long-running operation.
      tags:
        - Gateways
      operationId: deleteGateway
      x-data-classification: Confidential
      x-operation-type: lro
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '202':
          description: The deletion request has been accepted. The status of the operation can be tracked via the URL in the Location header.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/interfaces:
    get:
      summary: List interfaces for a gateway
      description: Retrieves a paginated list of all interfaces configured on a specific gateway.
      tags:
        - Interfaces
      operationId: listInterfaces
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
      responses:
        '200':
          description: A paginated list of interfaces.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Interface'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create one or more interfaces
      description: Creates one or more new interfaces on a specified gateway in a single batch request.
      tags:
        - Interfaces
      operationId: createInterfaces
      x-data-classification: Confidential
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        description: A list of interface configurations to create.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InterfaceCreate'
              example:
                - name: interface-to-aws
                  description: Primary connection to AWS us-east-1
                - name: interface-to-azure
                  description: Secondary connection to Azure us-west-2
      responses:
        '207':
          description: The batch request was processed, but with mixed results. The response body contains the status for each individual interface creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMultiStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/interfaces/{interface_id}:
    get:
      summary: Get an interface by ID
      description: Retrieves the details of a specific interface on a gateway.
      tags:
        - Interfaces
      operationId: getInterface
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The detailed representation of the interface.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update an interface
      description: Partially updates an interface's properties, such as its name or description.
      tags:
        - Interfaces
      operationId: updateInterface
      x-data-classification: Confidential
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        description: The fields to update on the interface.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InterfaceUpdate'
      responses:
        '200':
          description: The interface was updated successfully.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete an interface
      description: Deletes a specific interface from a gateway. This operation is synchronous.
      tags:
        - Interfaces
      operationId: deleteInterface
      x-data-classification: Confidential
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '204':
          description: The interface was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gateways/{gateway_id}/routes:
    get:
      summary: List routes for a gateway
      description: Retrieves a paginated list of BGP routes associated with a specific gateway instance.
      tags:
        - Routes
      operationId: listRoutes
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: address_family
          in: query
          description: Filter routes by address family.
          required: false
          schema:
            type: string
            enum:
              - ipv4
              - ipv6
              - all
            default: ipv4
          example: ipv4
      responses:
        '200':
          description: A paginated list of routes.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Route'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /operations/{operation_id}:
    get:
      summary: Get operation status
      description: Retrieves the current status of a long-running operation.
      tags:
        - Operations
      operationId: getOperation
      x-data-classification: Internal
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The current status of the operation.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Cancel an operation
      description: Requests the cancellation of an in-progress long-running operation. Cancellation is best-effort.
      tags:
        - Operations
      operationId: cancelOperation
      x-data-classification: Confidential
      parameters:
        - $ref: '#/components/parameters/OperationId'
      responses:
        '202':
          description: The cancellation request has been accepted. Poll the operation resource to confirm its final state.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The operation is already in a terminal state and cannot be cancelled.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    # Base Schemas
    ResourceId:
      type: string
      format: uuid
      description: Opaque, globally unique identifier for a resource, generated by the server.
      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
      example: 279fc665-d04d-4dba-bcad-17c865489dfa
    ResourceMetadata:
      type: object
      description: Standard metadata for a resource.
      required:
        - id
        - created_at
        - last_updated_at
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: The UTC timestamp when the resource was created.
        last_updated_at:
          type: string
          format: date-time
          readOnly: true
          description: The UTC timestamp when the resource was last modified.
    State:
      type: string
      readOnly: true
      description: The current provisioning or operational state of the resource.
      enum:
        - Active
        - Provisioning
        - Updating
        - Deleting
        - Disabled
        - Failed
      example: Active
    Pagination:
      type: object
      description: Metadata for a paginated collection of resources.
      required:
        - limit
        - offset
        - total
      properties:
        limit:
          type: integer
          description: The maximum number of items returned on the page.
          example: 20
        offset:
          type: integer
          description: The starting position of the page in the collection.
          example: 0
        total:
          type: integer
          description: The total number of items available in the collection.
          example: 245
    Money:
      type: object
      description: Represents a monetary amount in a specific currency.
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
          description: Monetary amount in the minor units of the currency (e.g., cents for USD).
          example: 75000
        currency:
          type: string
          description: ISO 4217 currency code.
          pattern: '^[A-Z]{3}$'
          example: USD
    BillingInfo:
      type: object
      readOnly: true
      description: Billing details associated with a resource.
      properties:
        status:
          type: string
          description: The current billing status of the resource.
          example: Active
        start_at:
          type: string
          format: date-time
          description: The UTC timestamp when billing for the resource started.
        term:
          type: string
          description: The billing term for the resource.
          example: Monthly
        mrc:
          $ref: '#/components/schemas/Money'
    # Gateway Schemas
    Gateway:
      description: A Multi-Cloud Gateway instance.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - $ref: '#/components/schemas/GatewayProperties'
    GatewayProperties:
      type: object
      properties:
        name:
          type: string
          description: A user-friendly name for the gateway.
          example: my-primary-gateway
        description:
          type: string
          description: A detailed description of the gateway's purpose.
          example: Gateway for production cloud environments
        mcgw_tier:
          type: string
          description: The throughput tier of the gateway instance.
          enum:
            - 10G
            - 50G
            - Unlimited
          example: 10G
        asn:
          type: integer
          description: The Autonomous System Number (ASN) for the gateway.
          enum:
            - 1
            - 3549
          default: 1
          example: 1
        state:
          $ref: '#/components/schemas/State'
        billing:
          $ref: '#/components/schemas/BillingInfo'
    GatewayCreate:
      type: object
      description: The configuration for creating a new gateway.
      required:
        - mcgw_tier
      properties:
        name:
          type: string
          description: A user-friendly name for the gateway. If not provided, it defaults to the gateway ID.
          example: my-primary-gateway
        description:
          type: string
          description: A detailed description of the gateway's purpose.
          example: Gateway for production cloud environments
        mcgw_tier:
          type: string
          description: The throughput tier of the gateway instance.
          enum:
            - 10G
            - 50G
            - Unlimited
          example: 10G
        asn:
          type: integer
          description: The Autonomous System Number (ASN) for the gateway.
          enum:
            - 1
            - 3549
          default: 1
          example: 1
    GatewayUpdate:
      type: object
      description: The properties that can be updated on a gateway.
      properties:
        name:
          type: string
          description: A new user-friendly name for the gateway.
          example: my-renamed-gateway
        description:
          type: string
          description: An updated description for the gateway.
          example: Updated gateway description
        mcgw_tier:
          type: string
          description: The new throughput tier for the gateway instance.
          enum:
            - 10G
            - 50G
            - Unlimited
          example: 50G
    # Interface Schemas
    Interface:
      description: An interface on a Multi-Cloud Gateway instance.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - $ref: '#/components/schemas/InterfaceProperties'
    InterfaceProperties:
      type: object
      properties:
        name:
          type: string
          description: A user-friendly name for the interface.
          example: interface-to-aws
        description:
          type: string
          description: A detailed description of the interface's purpose.
          example: Primary connection to AWS us-east-1
        bandwidth_mbps:
          type: integer
          format: int64
          description: The bandwidth of the interface in Megabits per second (Mbps). This value is typically inherited from an attached Fabric Connection but can be modified.
          example: 1000
        state:
          $ref: '#/components/schemas/State'
        billing:
          $ref: '#/components/schemas/BillingInfo'
    InterfaceCreate:
      type: object
      description: The configuration for creating a new interface.
      properties:
        name:
          type: string
          description: A user-friendly name for the interface.
          example: interface-to-aws
        description:
          type: string
          description: A detailed description of the interface's purpose.
          example: Primary connection to AWS us-east-1
    InterfaceUpdate:
      type: object
      description: The properties that can be updated on an interface.
      properties:
        name:
          type: string
          description: A new user-friendly name for the interface.
          example: aws-primary-interface
        description:
          type: string
          description: An updated description for the interface.
          example: Updated description for AWS connection
        bandwidth_mbps:
          type: integer
          format: int64
          description: The new bandwidth of the interface in Megabits per second (Mbps).
          example: 2000
    # Route Schema
    Route:
      type: object
      description: A BGP route learned by the gateway.
      properties:
        prefix:
          type: string
          description: The destination network prefix.
          example: 192.168.100.0/24
        next_hop_ip_address:
          type: string
          format: ipv4
          description: The IP address of the next hop router.
          example: 10.0.0.1
        as_path:
          type: string
          description: The Autonomous System (AS) path for the route.
          example: '65001 65002'
        community_tags:
          type: array
          items:
            type: string
          description: A list of BGP community tags associated with the route.
          example:
            - '65001:100'
        local_preference:
          type: integer
          description: The local preference value for the route.
          example: 100
    # Batch Response Schema
    BatchMultiStatusResponse:
      type: object
      description: The response for a batch operation with mixed success and failure outcomes.
      required:
        - summary
      properties:
        summary:
          $ref: '#/components/schemas/BatchSummary'
        successes:
          type: array
          items:
            $ref: '#/components/schemas/BatchSuccess'
        failures:
          type: array
          items:
            $ref: '#/components/schemas/BatchFailure'
    BatchSummary:
      type: object
      description: A summary of the results of a batch operation.
      required:
        - total
        - succeeded
        - failed
      properties:
        total:
          type: integer
          example: 2
        succeeded:
          type: integer
          example: 1
        failed:
          type: integer
          example: 1
    BatchSuccess:
      type: object
      description: Details of a successfully processed item in a batch request.
      properties:
        index:
          type: integer
          description: The zero-based index of the item in the original request array.
          example: 0
        id:
          $ref: '#/components/schemas/ResourceId'
        status:
          type: integer
          description: The HTTP status code for this item's outcome.
          example: 201
        resource:
          type: object
          description: A representation of the created resource.
    BatchFailure:
      type: object
      description: Details of a failed item in a batch request.
      properties:
        index:
          type: integer
          description: The zero-based index of the item in the original request array.
          example: 1
        status:
          type: integer
          description: The HTTP status code for this item's outcome.
          example: 422
        code:
          type: string
          description: A stable, machine-readable error code.
          example: validation.duplicate_name
        message:
          type: string
          description: A human-readable explanation of the error.
          example: An interface with this name already exists.
    # LRO and Error Schemas
    Operation:
      type: object
      description: The status of a long-running operation.
      required:
        - operation_id
        - status
        - started_at
      properties:
        operation_id:
          $ref: '#/components/schemas/ResourceId'
        status:
          type: string
          enum: [PENDING, RUNNING, SUCCEEDED, FAILED, CANCELLED]
          example: RUNNING
        percent:
          type: integer
          format: int32
          description: Estimated progress percentage (0-100).
          example: 50
        started_at:
          type: string
          format: date-time
          description: UTC timestamp when the operation was accepted.
        completed_at:
          type: string
          format: date-time
          description: UTC timestamp when the operation entered a terminal state.
        resource:
          type: object
          description: A link to the created or modified resource, present on success.
          properties:
            id:
              $ref: '#/components/schemas/ResourceId'
            href:
              type: string
              format: uri
              description: The full URI to GET the resource.
              example: /gateways/279fc665-d04d-4dba-bcad-17c865489dfa
        error:
          $ref: '#/components/schemas/Problem'
        metadata:
          type: object
          description: Service-specific metadata providing real-time status information.
          properties:
            message:
              type: string
              description: A human-readable status message.
              example: 'Step 2 of 4: Configuring routing policies...'
            step:
              type: string
              description: A machine-readable code for the current sub-state.
              example: 'CONFIGURING_POLICIES'
    Problem:
      type: object
      description: A problem details object compliant with RFC 9457 (LPDP-Mini profile).
      required:
        - title
        - errors
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: Unprocessable Entity
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ErrorItem'
    ErrorItem:
      type: object
      description: A single error detail.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: A stable, machine-readable error code.
          example: validation.required_field_missing
        message:
          type: string
          description: A human-readable explanation of the specific error.
          example: The 'mcgw_tier' field is required.
  parameters:
    GatewayId:
      name: gateway_id
      in: path
      required: true
      description: The unique identifier of the gateway.
      schema:
        $ref: '#/components/schemas/ResourceId'
    InterfaceId:
      name: interface_id
      in: path
      required: true
      description: The unique identifier of the interface.
      schema:
        $ref: '#/components/schemas/ResourceId'
    OperationId:
      name: operation_id
      in: path
      required: true
      description: The unique identifier of the long-running operation.
      schema:
        $ref: '#/components/schemas/ResourceId'
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: A unique key to ensure safe retries of POST requests.
      schema:
        type: string
        format: uuid
    IfMatch:
      name: If-Match
      in: header
      required: true
      description: The ETag of the resource to be updated, used for optimistic concurrency control.
      schema:
        type: string
    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: The ETag of a cached resource. If it matches the current ETag, a 304 Not Modified will be returned.
      schema:
        type: string
    PaginationLimit:
      name: limit
      in: query
      description: The maximum number of items to return per page.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      example: 20
    PaginationOffset:
      name: offset
      in: query
      description: The starting position of the page in the collection.
      schema:
        type: integer
        default: 0
        minimum: 0
      example: 0
  headers:
    ETag:
      description: The ETag for the current version of the resource, used for caching and concurrency control.
      schema:
        type: string
        example: '"v2-6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b"'
    Location:
      description: The canonical URI of a newly created or processing resource.
      schema:
        type: string
        format: uri
    RetryAfter:
      description: The number of seconds to wait before retrying the request.
      schema:
        type: integer
        example: 10
  responses:
    BadRequest:
      description: The request was malformed or contained invalid syntax.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: The request requires authentication, and the client has not provided valid credentials.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: The client is authenticated but does not have permission to perform the requested action.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The requested resource could not be found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The request could not be completed due to a conflict with the current state of the target resource, such as a lock.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PreconditionFailed:
      description: The server rejected the request because the If-Match header did not match the resource's current ETag.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: The request was well-formed but could not be processed due to semantic errors (e.g., validation failure).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: The client has sent too many requests in a given amount of time ("rate limiting").
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalServerError:
      description: The server encountered an unexpected condition that prevented it from fulfilling the request.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotModified:
      description: The resource has not been modified since the version specified by the If-None-Match header. The response body is empty.
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication using a bearer token.
      flows:
        clientCredentials:
          tokenUrl: https://auth.lumen.com/oauth/token
          scopes:
            mcgw:read: Allows reading gateway resources.
            mcgw:write: Allows creating and modifying gateway resources.
security:
  - OAuth2: []