openapi: 3.0.3
info:
  title: Multi-Cloud Gateway API
  description: Use the Multi-Cloud Gateway (MCGW) API to programmatically create, manage, and delete a virtual routing service that allows customers to easily interconnect their cloud environments utilizing private connectivity. This API provides a simple, automated way to manage Layer 3 routing between Fabric Connections, Fabric Services, and Fabric Ports.
  version: 1.0.0
  contact:
    name: Lumen API Support
    email: api-support@example.com
servers:
  - url: https://api.lumen.com
    description: Production Server
tags:
  - name: Gateways
    description: Manage Multi-Cloud Gateway (MCGW) instances.
  - name: Interfaces
    description: Manage interfaces associated with a Multi-Cloud Gateway.
  - name: Routes
    description: View routing information for a Multi-Cloud Gateway.
  - name: API Keys
    description: Administrative operations for managing API keys.
  - name: Authentication
    description: Operations for user authentication and session management.
  - name: Operations
    description: Check the status of long-running asynchronous operations.
paths:
  /mcgw/v1/sessions:
    post:
      summary: Create a session
      description: Authenticates a user with a username and password to obtain a session token.
      tags:
        - Authentication
      operationId: createSession
      x-data-classification: Confidential
      x-idempotent: true
      requestBody:
        description: User credentials for authentication.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
      responses:
        '201':
          description: Session created successfully.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/sessions/current:
    delete:
      summary: Delete the current session
      description: Logs out the current user by invalidating their session token.
      tags:
        - Authentication
      operationId: deleteCurrentSession
      x-data-classification: Internal
      security:
        - OAuth2: []
      responses:
        '204':
          description: The session was successfully invalidated.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/admin/api-keys:
    get:
      summary: List all internal API keys
      description: Retrieves a list of all internal API keys, including their name, ID, and expiration.
      tags:
        - API Keys
      operationId: listApiKeys
      x-data-classification: Restricted (PII, PCI, PHI)
      security:
        - OAuth2: [admin:read]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of API keys.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create an internal API key
      description: Creates a new internal API key with a specified name.
      tags:
        - API Keys
      operationId: createApiKey
      x-data-classification: Restricted (PII, PCI, PHI)
      x-idempotent: true
      security:
        - OAuth2: [admin:write]
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        description: The name for the new API key.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key_name
              properties:
                key_name:
                  type: string
                  description: A unique, human-readable name for the API key.
                  example: my-automation-key
      responses:
        '201':
          description: API key created successfully. The response includes the generated token which is only returned on creation.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/admin/api-keys/{api_key_id}:
    delete:
      summary: Delete an internal API key
      description: Permanently deletes an internal API key by its ID.
      tags:
        - API Keys
      operationId: deleteApiKey
      x-data-classification: Restricted (PII, PCI, PHI)
      security:
        - OAuth2: [admin:write]
      parameters:
        - $ref: '#/components/parameters/ApiKeyId'
        - $ref: '#/components/headers/IfMatch'
      responses:
        '204':
          description: The API key was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/gateways:
    get:
      summary: List all gateways
      description: Retrieves a paginated list of all Multi-Cloud Gateway instances accessible to the user.
      tags:
        - Gateways
      operationId: listGateways
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of gateways.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gateway'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a gateway
      description: Initiates the creation of a new Multi-Cloud Gateway instance. This is an asynchronous operation.
      tags:
        - Gateways
      operationId: createGateway
      x-data-classification: Internal
      x-operation-type: lro
      x-idempotent: true
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        description: The configuration for the new gateway.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayCreate'
      responses:
        '202':
          description: The gateway creation request has been accepted for processing. Poll the URL in the Location header to check the status.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/gateways/{gateway_id}:
    get:
      summary: Get a gateway by ID
      description: Retrieves the details of a specific Multi-Cloud Gateway instance.
      tags:
        - Gateways
      operationId: getGateway
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The requested gateway resource.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '304':
          description: Not Modified. The client's cached version is up-to-date.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a gateway
      description: Partially updates a Multi-Cloud Gateway instance, such as changing its tier. This may be an asynchronous operation.
      tags:
        - Gateways
      operationId: patchGateway
      x-data-classification: Internal
      x-operation-type: lro
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/headers/IfMatch'
      requestBody:
        description: The fields to update on the gateway.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/GatewayUpdate'
      responses:
        '200':
          description: The gateway was updated successfully and synchronously.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
        '202':
          description: The gateway update request has been accepted for processing. Poll the URL in the Location header to check the status.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a gateway
      description: Initiates the deletion of a Multi-Cloud Gateway instance. This is an asynchronous operation.
      tags:
        - Gateways
      operationId: deleteGateway
      x-data-classification: Internal
      x-operation-type: lro
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/headers/IfMatch'
      responses:
        '202':
          description: The gateway deletion request has been accepted for processing. Poll the URL in the Location header to check the status.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/gateways/{gateway_id}/interfaces:
    get:
      summary: List all interfaces for a gateway
      description: Retrieves a paginated list of all interfaces associated with a specific Multi-Cloud Gateway.
      tags:
        - Interfaces
      operationId: listInterfaces
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of interfaces.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Interface'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create one or more interfaces
      description: Creates one or more new interfaces on a specified Multi-Cloud Gateway. This is a batch operation.
      tags:
        - Interfaces
      operationId: createInterfaces
      x-data-classification: Internal
      x-idempotent: true
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/headers/IdempotencyKey'
      requestBody:
        description: A list of new interfaces to create.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InterfaceCreate'
      responses:
        '201':
          description: All interfaces were created successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interface'
        '207':
          description: The batch operation completed with mixed results (some interfaces created, some failed).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMultiStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/gateways/{gateway_id}/interfaces/{interface_id}:
    get:
      summary: Get an interface by ID
      description: Retrieves the details of a specific interface on a Multi-Cloud Gateway.
      tags:
        - Interfaces
      operationId: getInterface
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The requested interface resource.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '304':
          description: Not Modified. The client's cached version is up-to-date.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update an interface
      description: Partially updates an interface on a Multi-Cloud Gateway.
      tags:
        - Interfaces
      operationId: patchInterface
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/headers/IfMatch'
      requestBody:
        description: The fields to update on the interface.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/InterfaceUpdate'
      responses:
        '200':
          description: The interface was updated successfully.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interface'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete an interface
      description: Deletes an interface from a Multi-Cloud Gateway. This may be an asynchronous operation.
      tags:
        - Interfaces
      operationId: deleteInterface
      x-data-classification: Internal
      x-operation-type: lro
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/InterfaceId'
        - $ref: '#/components/headers/IfMatch'
      responses:
        '202':
          description: The interface deletion request has been accepted for processing. Poll the URL in the Location header to check the status.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
        '204':
          description: The interface was deleted successfully and synchronously.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/gateways/{gateway_id}/routes:
    get:
      summary: List all routes for a gateway
      description: Retrieves a list of all BGP and static routes within the gateway's global VRF.
      tags:
        - Routes
      operationId: listRoutes
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/GatewayId'
        - $ref: '#/components/parameters/AddressFamily'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of routes.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Route'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mcgw/v1/operations/{operation_id}:
    get:
      summary: Get operation status
      description: Retrieves the status of a long-running asynchronous operation.
      tags:
        - Operations
      operationId: getOperation
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:read]
      parameters:
        - $ref: '#/components/parameters/OperationId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The current status of the operation.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            Retry-After:
              $ref: '#/components/headers/RetryAfter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
        '304':
          description: Not Modified. The operation status has not changed since the last request.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Cancel an operation
      description: Requests the cancellation of an in-progress asynchronous operation. Cancellation is best-effort.
      tags:
        - Operations
      operationId: cancelOperation
      x-data-classification: Internal
      security:
        - OAuth2: [mcgw:write]
      parameters:
        - $ref: '#/components/parameters/OperationId'
      responses:
        '202':
          description: The cancellation request has been accepted. Poll the operation to confirm its final state.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Gateway:
      type: object
      description: A Multi-Cloud Gateway instance.
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - $ref: '#/components/schemas/CommonMetadata'
        - $ref: '#/components/schemas/GatewayCreate'
        - type: object
          properties:
            state:
              type: string
              description: The current provisioning state of the gateway.
              readOnly: true
              enum:
                - Active
                - Disabled
                - Deleting
                - Provisioning
                - Updating
                - Resetting
              example: Active
    GatewayCreate:
      type: object
      description: Properties for creating a new Multi-Cloud Gateway.
      required:
        - mcgw_tier
      properties:
        name:
          type: string
          description: A user-friendly name for the gateway. If not provided, it defaults to the gateway ID.
          example: my-primary-gateway
        description:
          type: string
          description: A detailed description of the gateway's purpose.
          example: Gateway for connecting AWS and Azure environments.
        asn:
          type: integer
          description: The Autonomous System Number for the gateway.
          enum: [1, 3549]
          default: 1
          example: 1
        mcgw_tier:
          $ref: '#/components/schemas/GatewayTier'
    GatewayUpdate:
      type: object
      description: Properties for updating an existing Multi-Cloud Gateway.
      properties:
        name:
          type: string
          description: A user-friendly name for the gateway.
          example: my-primary-gateway-renamed
        description:
          type: string
          description: A detailed description of the gateway's purpose.
          example: Updated gateway description.
        mcgw_tier:
          $ref: '#/components/schemas/GatewayTier'
    GatewayTier:
      type: string
      description: The throughput tier of the gateway instance, which determines the total aggregate bandwidth.
      enum:
        - 10G
        - 50G
        - Unlimited
      example: 10G
    Interface:
      type: object
      description: A virtual interface on a Multi-Cloud Gateway.
      allOf:
        - $ref: '#/components/schemas/ResourceMetadata'
        - $ref: '#/components/schemas/CommonMetadata'
        - $ref: '#/components/schemas/InterfaceCreate'
        - type: object
          properties:
            bandwidth_mbps:
              $ref: '#/components/schemas/BandwidthMbps'
            state:
              type: string
              description: The current provisioning state of the interface.
              readOnly: true
              enum:
                - Active
                - Disabled
                - Deleting
                - Provisioning
                - Updating
              example: Active
    InterfaceCreate:
      type: object
      description: Properties for creating a new interface.
      properties:
        name:
          type: string
          description: A user-friendly name for the interface.
          example: interface-to-aws-use1
        description:
          type: string
          description: A detailed description of the interface's purpose.
          example: Primary connection to AWS US-East-1.
    InterfaceUpdate:
      type: object
      description: Properties for updating an existing interface.
      properties:
        name:
          type: string
          description: A user-friendly name for the interface.
          example: interface-to-aws-use1-updated
        description:
          type: string
          description: A detailed description of the interface's purpose.
          example: Updated description for primary AWS connection.
        bandwidth_mbps:
          $ref: '#/components/schemas/BandwidthMbps'
    Route:
      type: object
      description: A BGP or static route within the gateway's routing table.
      properties:
        prefix:
          type: string
          format: ipv4
          description: The destination network prefix.
          example: 192.168.1.0
        mask:
          type: string
          format: ipv4
          description: The subnet mask for the destination network.
          example: 255.255.255.0
        next_hop_ip_address:
          type: string
          format: ipv4
          description: The IP address of the next hop router.
          example: 10.0.0.1
        as_path:
          type: string
          description: The BGP Autonomous System path for the route.
          example: "65001 65002"
        community_tags:
          type: array
          items:
            type: string
          description: A list of BGP community tags associated with the route.
          example: ["65001:100", "65001:200"]
        local_preference:
          type: integer
          description: The BGP local preference value for the route.
          example: 100
    ApiKey:
      type: object
      description: An API key for authentication.
      properties:
        key_id:
          type: string
          description: The unique identifier for the API key.
          readOnly: true
          example: key_abc123
        key_name:
          type: string
          description: A unique, human-readable name for the API key.
          example: my-automation-key
        token_expiration:
          type: string
          format: date-time
          description: The UTC timestamp when the token associated with this key will expire.
          readOnly: true
          example: '2025-12-31T23:59:59Z'
    ApiKeyWithToken:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            token:
              type: string
              description: The secret token for the API key. This is only returned upon creation.
              readOnly: true
              example: 'lmn.secret.a1b2c3d4e5f6'
    Credentials:
      type: object
      description: User credentials for authentication.
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: user@example.com
        password:
          type: string
          format: password
          example: 'Str0ngP@ssw0rd!'
    Session:
      type: object
      description: An authenticated user session.
      properties:
        session_token:
          type: string
          description: The token representing the authenticated session.
          example: 'lmn.session.a1b2c3d4e5f6'
        token_expiration:
          type: string
          format: date-time
          description: The UTC timestamp when the session token will expire.
          example: '2025-12-31T23:59:59Z'
    Operation:
      type: object
      description: The status of a long-running asynchronous operation.
      required:
        - operation_id
        - status
        - started_at
      properties:
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation.
          example: 279fc665-d04d-4dba-bcad-17c865489dfa
        status:
          type: string
          description: The current state of the operation.
          enum: [PENDING, RUNNING, SUCCEEDED, FAILED, CANCELLED]
          example: RUNNING
        percent:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Estimated progress percentage (0-100).
          example: 50
        started_at:
          type: string
          format: date-time
          description: UTC timestamp when the operation was accepted.
          readOnly: true
          example: '2025-10-29T16:00:00Z'
        completed_at:
          type: string
          format: date-time
          description: UTC timestamp when the operation entered a terminal state.
          readOnly: true
          example: '2025-10-29T16:05:00Z'
        metadata:
          type: object
          description: Service-specific metadata providing real-time status information.
          properties:
            message:
              type: string
              description: A human-readable status message.
              example: 'Step 2 of 4: Configuring interfaces...'
            step:
              type: string
              description: A machine-readable code for the current sub-state.
              example: 'CONFIGURING_INTERFACES'
          additionalProperties: true
        resource:
          type: object
          description: A link to the resource that was created or modified, present on SUCCEEDED.
          properties:
            id:
              type: string
              description: The ID of the created/modified resource.
              example: gw-abc123
            href:
              type: string
              format: uri
              description: The full URI to GET the resource.
              example: /mcgw/v1/gateways/gw-abc123
        error:
          $ref: '#/components/schemas/Problem'
    Problem:
      type: object
      description: A Problem Details object (RFC 9457) for describing errors.
      required:
        - title
        - errors
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: Unprocessable Entity
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/LpdpError'
    LpdpError:
      type: object
      description: A specific error detail.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: A stable, machine-readable error code.
          example: VALIDATION_ERROR
        message:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: The 'mcgw_tier' field is required.
        meta:
          type: object
          description: Optional, unregulated extension for machine-readable context.
          additionalProperties: true
    BatchMultiStatusResponse:
      type: object
      description: A response for a batch operation with mixed success and failure outcomes.
      required:
        - summary
      properties:
        summary:
          type: object
          required: [total, succeeded, failed]
          properties:
            total:
              type: integer
              description: Total number of items in the batch request.
              example: 5
            succeeded:
              type: integer
              description: Number of items that were processed successfully.
              example: 3
            failed:
              type: integer
              description: Number of items that failed.
              example: 2
        results:
          type: array
          description: An array detailing the outcome for each item in the batch.
          items:
            type: object
            properties:
              id:
                type: string
                description: The ID of the resource if created, or a client-provided key.
                example: if-abc123
              status:
                type: integer
                description: The HTTP status code for this specific item's outcome.
                example: 201
              message:
                type: string
                description: A message describing the outcome for this item.
                example: Created
    ResourceId:
      type: string
      format: uuid
      description: Opaque, globally unique identifier for a resource. Generated by the API provider.
      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
      example: 279fc665-d04d-4dba-bcad-17c865489dfa
    ResourceMetadata:
      type: object
      description: Standard metadata for a resource instance.
      required:
        - id
        - created_at
        - last_updated_at
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp in UTC.
          readOnly: true
          example: '2025-01-01T12:00:00Z'
        last_updated_at:
          type: string
          format: date-time
          description: Last update timestamp in UTC.
          readOnly: true
          example: '2025-01-10T15:30:00Z'
    CommonMetadata:
      type: object
      description: Common read-only metadata fields for resources.
      properties:
        customer_uid:
          type: string
          readOnly: true
          example: cust-abc123
        user_uid:
          type: string
          readOnly: true
          example: user-xyz789
        user_provisioned:
          type: string
          readOnly: true
          example: 'system-automation'
        user_modified:
          type: string
          readOnly: true
          example: 'jane.doe@example.com'
    Pagination:
      type: object
      description: Metadata for a paginated collection of resources.
      required:
        - limit
        - offset
        - total
      properties:
        limit:
          type: integer
          description: The maximum number of items returned.
          example: 20
        offset:
          type: integer
          description: The starting position of the query.
          example: 0
        total:
          type: integer
          description: The total number of available items.
          example: 245
    BandwidthMbps:
      type: integer
      format: int64
      minimum: 0
      description: Bandwidth capacity measured in Megabits per second (Mbps). 1 Gbps = 1000.
      example: 1000
  parameters:
    GatewayId:
      name: gateway_id
      in: path
      required: true
      description: The unique identifier for the gateway.
      schema:
        $ref: '#/components/schemas/ResourceId'
    InterfaceId:
      name: interface_id
      in: path
      required: true
      description: The unique identifier for the interface.
      schema:
        $ref: '#/components/schemas/ResourceId'
    ApiKeyId:
      name: api_key_id
      in: path
      required: true
      description: The unique identifier for the API key.
      schema:
        type: string
        example: key_abc123
    OperationId:
      name: operation_id
      in: path
      required: true
      description: The unique identifier for the asynchronous operation.
      schema:
        $ref: '#/components/schemas/ResourceId'
    Limit:
      name: limit
      in: query
      description: The maximum number of items to return per page.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    Offset:
      name: offset
      in: query
      description: The starting position of the query for pagination.
      schema:
        type: integer
        default: 0
        minimum: 0
    AddressFamily:
      name: address_family
      in: query
      description: Filter routes by address family.
      schema:
        type: string
        enum: [ipv4, ipv6, all]
        default: ipv4
    IfNoneMatch:
      name: if-none-match
      in: header
      description: The ETag of a cached resource, used for conditional GET requests.
      schema:
        type: string
  headers:
    IdempotencyKey:
      name: idempotency-key
      in: header
      required: true
      description: A unique key to prevent duplicate processing of the same request.
      schema:
        type: string
        format: uuid
    ETag:
      description: The ETag for this version of the resource, used for caching and concurrency control.
      schema:
        type: string
        example: '"v2-a1b2c3d4"'
    IfMatch:
      name: if-match
      in: header
      required: true
      description: The ETag of the resource to update, used for optimistic concurrency control.
      schema:
        type: string
        example: '"v1-a1b2c3d4"'
    Location:
      description: The canonical URI of a newly created resource or an operation status resource.
      schema:
        type: string
        format: uri
    RetryAfter:
      description: The number of seconds to wait before retrying the request.
      schema:
        type: integer
        example: 10
  responses:
    BadRequest:
      description: '400 Bad Request: The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax).'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: '401 Unauthorized: The request has not been applied because it lacks valid authentication credentials for the target resource.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: '403 Forbidden: The server understood the request but refuses to authorize it. The user may be authenticated but lacks permissions.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: '404 Not Found: The server has not found anything matching the Request-URI.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: '409 Conflict: The request could not be completed due to a conflict with the current state of the target resource (e.g., idempotency key mismatch, resource locked).'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    PreconditionFailed:
      description: '412 Precondition Failed: The server does not meet one of the preconditions that the requester put on the request header fields (e.g., If-Match ETag mismatch).'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: '422 Unprocessable Entity: The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: '429 Too Many Requests: The user has sent too many requests in a given amount of time ("rate limiting").'
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InternalServerError:
      description: '500 Internal Server Error: The server encountered an unexpected condition that prevented it from fulfilling the request.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.lumen.com/oauth/token
          scopes:
            mcgw:read: Allows reading MCGW resources.
            mcgw:write: Allows creating, updating, and deleting MCGW resources.
            admin:read: Allows reading administrative resources like API keys.
            admin:write: Allows managing administrative resources like API keys.